﻿@model IEnumerable<BruktBok.Models.Faculty> 

@if (Model != null)
{
    foreach (var fk in Model)
    {
        // <partial name="_FacultyPartial",model="fk"/>

@*         <td class="Name"> *@
@*             @fk.Name *@
@*         </td> *@
    
        <div>
            <button id="Submit" type="button" class="btn btn-outline-primary">@fk.Name</button>
        </div>
    }
}
