﻿@using BruktBok.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model Book
@inject ApplicationDbContext DbContext
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    <div class="col-md-4">
        <div class="card" id="value">
            <a href="@Url.Action("Details", "Books", new {id = Model.Id})">
                @* <img src="@Url.Content("~/Images/" + Model.ImageUrl)" class="card-img-top" alt="..."> *@
             @{
                 if (Model.Content != null)
                 {
                     <img src="data:image;base64,@System.Convert.ToBase64String(Model.Content)" class="card-img-top" alt="..."/>  
                 }
             }      

            </a>
            <div class="card-block p-3">
                <h4 class="card-title">@Model.Title</h4>
                <p class="card-text">@Model.Summary</p>
                <p>
                    <span class="fas fa-wallet" style="width:50px;">
                    </span>@Html.DisplayFor(model => model.Price)</p>


                @{
                    if (SignInManager.IsSignedIn(User))
                    {
                        try
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var userId = user.Id;
                            var bookOwner = Model.ApplicationUserId;

                            if (bookOwner == userId)
                            {
                                // this returns the edit and delete view only for the owner of the book
                                <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                <a asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                                <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id">Details</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Contact", "Books", new {id = Model.Id})">

                                    <a class="btn btn-primary" href="@Url.Action("Contact", "Books", new {id = Model.Id})">Contact Seller</a>|
                                </a>

                                <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id">Details</a>
                            }
                        }
                        catch (Exception e)
                        {
                            Console.WriteLine(e);
                            throw;
                        }
                    }
                    else
                    {
                        <a href="@Url.Action("Contact", "Books", new {id = Model.Id})">

                            <a class="btn btn-primary" href="@Url.Action("Contact", "Books", new {id = Model.Id})">Contact Seller</a>|
                        </a>

                        <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id">Details</a>
                    }

                }

            </div>
        </div>
    </div>








}
