﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BruktBok</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/form.css"/>
    <link rel="stylesheet" href="~/css/homePage.css"/>
    <link rel="stylesheet" href="~/css/contact.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #0f6674 !important;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <partial name="_LoginPartial"/>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand text-blue" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="navbar-brand text-blue" asp-controller="Books" asp-action="Create">Selge</a>
              
                 <a class="navbar-brand text-blue" asp-controller="Books" asp-action="UserBook">Minside</a>
            </ul>
          
            <form class="form-inline my-2 my-lg-0" method="get" asp-controller="Home" asp-action="Index" >
                <input class="form-control mr-sm-2" id="bookTitle" type="text" name="SearchString" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" asp-controller="Books" asp-action="Index">Search</button>
            </form>
        </div>
    </nav>

</header>

<main>



    @RenderBody()
</main>


<footer class="border-top footer text-muted" >

    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text">
                    <span>ProjeKt</span>Inspirasjon
                </h1>
                <p>Studer Billigere UIA Student </p>
                <div class="contact">
                    <span>
                        <i class="fas fa-phone">

                        </i>&nbsp;123-333-33
                    </span>
                    <span>
                        <i class="fas fa-envelope">

                        </i>&nbsp;bruktbok@uia.no
                    </span>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/uiagder/" target="_blank">
                        <i class="fab fa-facebook">

                        </i>
                    </a>
                    <a href="https://www.instagram.com/uiagder/?hl=nb" target="_blank">
                        <i class="fab fa-instagram">
                            
                        </i>
                        <br>
                    </a>
                    <a href="https://twitter.com/uiagder?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                        <i class="fab fa-twitter">

                        </i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCCQfVgeSvDAGh1YcdXJ1E3g" target="_blank">
                        <i class="fab fa-youtube">

                        </i>
                    </a>
                </div>
            </div>

            <div class="footer-section links">
                <h2>Quick Lenker</h2>
                <br>
                <ul>
                    <a href="https://www.facebook.com/TeknaStudentUiA/" target="_blank">
                        <li>Tekna</li>
                    </a>
                    <a href="https://www.facebook.com/blueboxgrimstad/" target="_blank">
                        <li>Blue Box</li>
                    </a>


                </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>Kontakt oss</h2>
                <br>

                <form asp-controller="Home" asp-action="IsAboutUs">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email"><br>
                    <textarea   
            name="message" class="text-input contact-input" placeholder="your message">

</textarea><br>
                    <button type="submit" class="btn-btn-big" asp-controller="Home" asp-action="IsAboutUs">
                        <i class="fas fa-envelope">

                        </i>
                        Send
                    </button>
                </form>


            </div>

        </div>
        <div class="footer-bottom" >
            &copy; bruktbook@uia.no
        </div>
    </div>
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script >
$(document).ready(function( ) {

    $("#bookTitle").autocomplete({
        source: '/getbooks'
    });
});
</script>



@RenderSection("Scripts", required: false)

</body>
</html>