@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>




<div class="container">
  
    <hr>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
          <div class="col-md-6 col-md-offset-2">
                  <section>
                      <h4>Use google to sign up.</h4>
                      <hr/>
                      @{
                          if ((Model.ExternalLogins?.Count ?? 0) == 0)
                          {
                              <div>
                                  <p>
                                      There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                      for details on setting up this ASP.NET application to support logging in via external services.
                                  </p>
                              </div>
                          }
                          else
                          {
                              <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                  <div>
                                      <p>
                                          @foreach (var provider in Model.ExternalLogins)
                                          {
                                              <button  type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName </button>
                                          }
                                      </p>
                                  </div>
                              </form>
                          }
                      }
                  </section>
              </div>
            <p class="divider-text">
                <span class="bg-light">OR</span>
            </p>
            <form asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data" method="post" name="contact-form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user">

                            </i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Full name" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope">

                            </i> </span>
                    </div>
                    <input asp-for="Input.Email" class="form-control" type="email" placeholder="Email address"/>
                    <span asp-validation-for="Input.Email" class="text-danger">

                    </span>
                </div> <!-- form-group// -->
                 <div class="form-group input-group">
                                   <div class="input-group-prepend">
                                       <span class="input-group-text">
                                           <i class="fa fa-envelope">
               
                                           </i> </span>
                                   </div>
                                   <input asp-for="Input.NickName" class="form-control" type="text" placeholder="User Name"/>
                                   <span asp-validation-for="Input.NickName" class="text-danger">
               
                                   </span>
                               </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-image">

                            </i> </span>
                        <input type="file" id="file" name="file" class="form-control" runat="server" accept=".png,.jpg,.jpeg,.gif"/>
                        <span asp-validation-for="Input.ImageUrl" class="text-danger">

                        </span>
                    </div>


                </div> <!-- form-group end.// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock">

                            </i> </span>
                    </div>
                    <input asp-for="Input.Password" class="form-control" placeholder="Create password" type="password"/>
                    <span asp-validation-for="Input.Password" class="text-danger">

                    </span>
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock">

                            </i> </span>
                    </div>

                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Repeat password" type="password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger">

                    </span>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="send"   onclick="submitForm()"> Create Account </button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a href="https://localhost:44353/Identity/Account/Login">Log In</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->


    <!--container end.//-->

    <br><br>


    <br>
    <br>

    
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    
   

}



































@*
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl"  enctype="multipart/form-data" method="post">
            <h4>Create a new account.</h4>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NickName"></label>
                <input asp-for="Input.NickName" class="form-control"/>
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ImageUrl"></label>
                <input type="file" id="file" name="file" class="form-control"/>
                <span asp-validation-for="Input.ImageUrl" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use Your Google Account to Register.</h4>
            <hr/>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

}
*@