@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@using BruktBok.Data
@model BookOverView
@inject ApplicationDbContext DbContext
@{
    ViewData["Title"] = "Create";
}

<h1>Register a Book</h1>

<hr/>
<div class="row align-content-center">
    <div class="col-md-4">
        @* this form has multipat/form-data to be able to handle uploading a file.*@
        <form asp-controller="Books" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Book.Title" class="control-label"></label>
                <input asp-for="@Model.Book.Title" class="form-control"/>
                <span asp-validation-for="@Model.Book.Title" class="text-danger"></span>

              
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Summary" class="control-label"></label>
                <input asp-for="@Model.Book.Summary" class="form-control"/>
                <span asp-validation-for="@Model.Book.Summary" class="text-danger"></span>

              
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Description" class="control-label"></label>
                <textarea asp-for="@Model.Book.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="@Model.Book.Description" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Price" class="control-label"></label>
                <input asp-for="@Model.Book.Price" class="form-control"/>
                <span asp-validation-for="@Model.Book.Price" class="text-danger"></span>
             
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.DepartmentId" class="control-label"></label>
                <select asp-for="@Model.Book.DepartmentId" class="form-control" id="select-department"
                        asp-items="@Model.DepartmentList">
                   
                    <option value="department" selected disabled>-- select Studieprogram--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"> Upload Image( only JPEG format)</label>
                <input type="file" id="file" name="file" class="form-control" runat="server" accept=".png,.jpg,.jpeg,.gif"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>