@model BruktBok.Models.Book
@using BruktBok.Data
@using Microsoft.AspNetCore.Identity
@inject ApplicationDbContext DbContext
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">

                @{
                    if (Model.Content != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Content)" class="card-img-top" alt="..."/>
                    }
                }

                @* <img class="image" src="@Url.Content("~/Images/" + Model.ImageUrl)" alt="@Model.Title"/> *@

            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <div class="container" style="border-bottom:1px solid black">
                    <h2> @Html.DisplayFor(model => model.Title)</h2>
                </div>
                <hr>
                <ul class="container details">
                    <li>
                        <p>
                            <span class="fas fa-book" style="width:50px;">
                            </span>@Html.DisplayFor(model => model.Summary)</p>
                    </li>

                    <li>
                        <p>
                            <span class="fas fa-wallet" style="width:50px;">
                            </span>@Html.DisplayFor(model => model.Price)</p>
                    </li>

                    <li>
                        <p>
                            <span class="far fa-calendar-alt" style="width:50px;">

                            </span>@Html.DisplayFor(model => model.Posted)</p>
                    </li>
                    <li>
                        <p>
                            <h2>Beskrivelse</h2>
                            @Html.DisplayFor(model => model.Description)
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="glyphicon glyphicon-map-marker one" style="width:50px;">

                            </span>Grimstad
                        </p>
                    </li>

                </ul>
            </div>

        </div>
        <br>
        <br>
        <div>
            @{
                if (SignInManager.IsSignedIn(User))
                {
                    try
                    {
                        var user = await UserManager.GetUserAsync(User);
                        var userId = user.Id;
                        var bookOwner = Model.ApplicationUserId;

                        if (bookOwner == userId)
                        {
                            // this returns the edit and delete view only for the owner of the book
                            <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            <a asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Contact", "Books", new {id = Model.Id})">

                                <a class="btn btn-primary" href="@Url.Action("Contact", "Books", new {id = Model.Id})">Contact Seller</a>|
                            </a>
                            <a class="btn btn-primary" asp-controller="Home" asp-action="PaymentForm" asp-route-BookID="@Model.Id">Buy the book</a>
                        }
                    }
                    catch (Exception e)
                    {
                        Console.WriteLine(e);
                        throw;
                    }
                }
                else
                {
                    <a href="@Url.Action("Contact", "Books", new {id = Model.Id})">

                        <a class="btn btn-primary" href="@Url.Action("Contact", "Books", new {id = Model.Id})">Contact Seller</a>|
                    </a>

                    @*<a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Id">Details</a>*@
                    <a class="btn btn-primary" asp-controller="Home" asp-action="PaymentForm" asp-route-BookID="@Model.Id">Buy the book</a>
                }

            }
            @*<a href="@Url.Action("Contact", "Books", new {id = Model.Id})">

                <a class="btn btn-primary" href="@Url.Action("Contact", "Books", new {id = Model.Id})">Contact Seller</a>|
            </a>|*@

            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to List</a>

        </div>

    </div>

</div>


<script >



</script>