@model BruktBok.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Edit</h1>

<h4>Book</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label">

                </label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger">

                </span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label">
                </label>
                <input asp-for="Summary" class="form-control"/>
                <span asp-validation-for="Summary" class="text-danger">

                </span>
            </div>
            <div class="form-group">

                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">

                </label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger">

                </span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">

                </label>
                <select asp-for="DepartmentId" class="form-control" id="select-department"
                        asp-items="@ViewBag.DepartmentId">
                    <option value=" " selected disabled>-- select department--</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"> Upload Image( only JPEG format)</label>
                <input type="file" id="file" name="file" class="form-control" runat="server" accept=".png,.jpg,.jpeg,.gif"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>