﻿@using BruktBok.Data
@using Microsoft.AspNetCore.Identity
@model BookOverView
@inject ApplicationDbContext DbContext
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<table class="table">
    <div> My listed Books</div>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.ImageUrl)
        </th>
    </tr>
    </thead>
    <tbody>

    @foreach (var book in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Posted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Price)
            </td>
            <td>
                <div>
                    @{
                        if (book.Content != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(book.Content)" class="card-img-top" alt="..."/>
                        }
                    }
                   
                    @* <img src="@Url.Content("~/Images/" + book.ImageUrl)" style="width:30px;height:30px" alt="@book.Title"/> *@
                </div>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@book.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@book.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@book.Id">Delete</a>
            </td>
        </tr>
    }

    </tbody>
</table>