﻿@using BruktBok.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.VisualStudio.Web.CodeGeneration.Contracts.Messaging
@model BookOverView
@inject ApplicationDbContext DbContext
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
﻿@using Microsoft.AspNetCore.Identity.UI.V3.Pages.Internal

@using BruktBok.Models

<section class="splash" style="background-image: url(https://pim.aschehoug.no/Romaner%20og%20noveller/Lesekampanje%20voksen%20v%C3%A5r%202020/B%C3%B8ker%20vi%20gleder%20oss%20til%20i%202020%20Full%20width.jpg)">
    <h1 class="logo">
    
    </h1>
    <h3 class="display-4 text-center" style="color: limegreen;"> kjøp og selg brukt lærebøker I UIA </h3>
</section>

<div class="column-layout">
   
    <div @*class="sidebar-one"*@ class="col-md-4">


        <div class="container" id="facults">
            <h2 style="font-size: medium">Søke etter fakulteter:</h2>
            <br><br>
            <form  asp-controller="Home" asp-action="MultipleCheckboxes" method="get">
                <input type="checkbox" id="Health" name="Data" value="Health" >
                <label for="Health"  class="checkboxtext">Helse
                    <span class="">()</span></label>
                       <br />
                <input type="checkbox" id="Mekatronic" name="Data" value="Mekatronic"  >
                <label for="Mekatronic" >Mekatronikk
                    <span class="">()
                    </span></label><br />
                <input type="checkbox" id="Bygg" name="Data" value="Bygg" >
                <label for="Bygg">Bygg
                    <span class="">
                        ()
                    </span>
                </label>
                <br />
                <input type="checkbox" id="Elektro" name="Data" value="Elektro">
                <label for="Elektro">Elektro
                    <span class="">()</span>
                </label>
                <br />

                <input type="checkbox"  id="Data" name="Data" value="Data"  >
                <label for="Data">Data
                
                    <span class="">
                    </span>
                </label>
                <br />
                <button type="submit" id="Submit" asp-controller="Home" asp-action="MultipleCheckboxes" hidden="hidden" >Vis Resultatet</button>

       
            </form>
        </div>
    </div>
    
    <div @*class="man-column"*@ class="col-sm-8">
           <div class="card-deck">
               <div class="container container mt-4 mb-5">
                   <div class="row">
                       @foreach (var p in Model.Books)
                       {
                           <partial name="_homePagePartial" model="p"/>
                       }
                   </div>
               </div>
           </div>
       </div>

</div>

@*Paging *@

<div class="c" style="background-color: white"  >
      
      <ul class="pagination">
          <li class="page-item">
              @if (ViewBag.HasPreviousPage)
              {
                  <a class="prev" href="@Url.Action("Index", "Home", new{page = ViewBag.PreviousPgae})"> &lt; Previous </a>
               
              } 
              
              &nbsp;
              &nbsp;
              &nbsp;

          </li>
          
          
          <li class="page-item">
         @if ( ViewBag.HasNextPage)
        {
            <a class="next" href="@Url.Action("Index", "Home", new{page = ViewBag.NextPage})" style="font-size: medium"> Next &gt;</a>
               
        } 

          </li>
      </ul>
    </div>





<script>


    $(document).ready(function(){
         
                   
        $('input[type="checkbox"]').click(function(){
           if($(this).is(":checked")  ){
                console.log("Checkbox is checked.");
        
                  const favorite = [0];
                   $.each($("input[name='Data']:checked"), function(){
                                        favorite.push($(this).val());
                                         $("#Submit").trigger('click');

                       $.ajax({
                       type: 'Get', 
                             url: 'Home/MultipleCheckboxes',
                              datatype:'html',
                             
                              traditional:true,
                                data:{
                                      favorite:favorite},
                                   cache: false,
                                  success: function () { },});                                                   
                                  });}
                 
             else if($(this).is(":not(:checked)")){
               
                  }
              
    });
         });
    
    
   
    
    </script>





  
       
  

   




