﻿@model BookOverView
<div class="column-layout">
    <div class="man-column">
<div class="card-deck">
<div class="container container mt-4 mb-5">
    <div class="row">
        @foreach (var p in Model.Books)
        {
            <partial name="_homePagePartial" model="p"/>
        }
    </div>
</div>
</div></div>
</div>