﻿@model BruktBok.Models.BookPaymentModel
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h4 class="display-4 text-center">Payment Will be Here</h4>
    <hr/>
    
    <form id="payment-form">
        <div id="card-element" class="font-size: 14px;" style="border: 1px solid lightgray; padding: 1rem; border-radius: 0.2rem">
            <!-- Elements will create input elements here -->
        </div>
        <input id="buyerEmail" asp-for="@Model.Payment.BuyerEmail" type="email" class="form-control" placeholder="Please enter your email" />
        <!-- We'll put the error messages in this element -->
        
        <span id="emailError" asp-validation-for="@Model.Payment.BuyerEmail" class="text-danger mt-3 mb-3" role="alert"></span>
        <div id="card-errors" class="text-danger mt-3 mb-3" role="alert"></div>
        <br/>
                        
        <button id="pay-with-stripe-btn" class="btn btn-primary text-center"><span id="confirm-payment">Payment </span><span id="payment-amount">@Model.Book.Price</span></button>
    </form>
    <input id="price" type="hidden" value="@Model.Book.Price"/>
    <input id="BookID" type="hidden" value="@Model.Book.Id"/>
</div>

@section Scripts
{
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/lib/jquery/dist/StripeJS.js"></script>
}