﻿@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="text-center display-4"> Transaction Result</h1>

@if (ViewBag.Success)
{
    <div class="text-success display-4 text-success">YOUR PAYMENT IS SUCCEEDED</div>
    <div>
        <a  asp-controller="Home" asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div class="text-danger display-4 text-success">YOUR PAYMENT IS FAILED</div>
    <div>
        <a  asp-controller="Home" asp-action="Index">Back to List</a>
    </div>
}
