﻿.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
    
}

.cointers{
    margin-top: 1%;!important;
    margin-left: 8%;!important;
    margin-bottom: 1%;!important;
}
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.wrapper{
   position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper.search-box{
    width:500px ;
    background: #fff;
    height:65px ;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b1dfbb ;
    
}

.wrapper.search-box.dropdown-box{
   width:150px;
    border-right: 2px solid #dd3 ;
    color: #f8f9fa;
    cursor: pointer;
}
.wrapper.search-box.dropdown-box.defualt_option{
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
}

.wrapper.search-box.dropdown-box ul{
    position: absolute;
    top: 70px;
    left: -10px;
    background: #fff;
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 8px 8px 6px -10px #b3d7ff;
    display: none;
}
.wrapper.search-box.dropdown-box ul.active{
    display: block;
}

.wrapper.search-box.dropdown-box ul li{
 padding-bottom: 20px;   
}

.wrapper.search-box.dropdown-box ul li:last-child{
    padding-bottom: 0;
}

.wrapper.search-box.dropdown-box ul li:hover{
    color: #6f76; 
}

.wrapper.search-box.dropdown-box:before{
    content: "";
    position: absolute;
    top: 0;
    right:0 ;
    border: 8px solid;
    border-color: #5078ef transparent transparent transparent;
    
}


.wrapper.search-box.dropdown-box.search_field{
    width: 350px;
    height: 100%;
    position: relative;
   
    
}
.wrapper.search-box.dropdown-box.search_field.input{
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
}

.wrapper.search-box.dropdown-box.search_field.fas{
    position: absolute;
    top: 0;right: 0;
    font-size: 22px;
    color: #5078ef;
    cursor: pointer;
    
    
}




.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;!important;
    color: #fff;!important;
}
.btn-twitter {
    background: #55ACEE;
    color: white;
}
.details li {
    list-style: none;
}
li {
    margin-bottom:10px;

}



.fa-twitter {
    background: #55ACEE;
    color: white;
}







