﻿.splash{

    align-items: center; !important;
    background-color: #ffffff;!important;
    background-position: center;!important;
    background-size: cover;!important;
    color: white;!important;
    display: flex;!important;
    flex-direction: column;!important;
    height: 100vh;!important;
    justify-content: center;!important;
    max-width: initial;!important;
    min-height: 35em;!important;
    padding: 0 1em;!important;
    position: relative;!important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.2em 0;
    padding: 0;
}

h1.logo {
    font-size: 2em;
}

:-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.slogan {
    font-size: 150%;
}

form.search input {
    background-color: #dddddd;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    min-width: 9em;
    width: 100%;
}

input[type='search'] {
    -webkit-appearance: none;
}

form button, form .button, form input, form textarea {
    box-sizing: border-box;
}

input, textarea, select {
    border: 0;
    border-radius: 0.05em;
    font-family: inherit;
    font-size: inherit;
    margin-top: 0.1em;
    padding: 0.5em;
}


input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto; !important;
    letter-spacing: normal;!important;
    word-spacing: normal;!important;
    text-transform: none;!important;
    text-indent: 0;!important;
    text-shadow: none;
    display: inline-block;!important;
    text-align: start;
    -webkit-appearance: textfield;!important;
    -webkit-rtl-ordering: logical;!important;
    cursor: text;!important;
    margin: 0em;!important;
    font: 400 13.3333px Arial;!important;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.column-layout{
    max-width: 100%;!important;
    background: #fff;!important;
    margin: 40px auto 0 auto;
    padding:  20px 50px;!important;
    display: flex;!important;

}
.man-column{
    flex: 3; !important;
    order: 2;!important;

}
.sidebar-one{
    flex: 1;!important;
    order: 1;!important;
    margin-left: 40px;

}



/*some checkbox css/

 */

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
    zoom: 1.5;

}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;


}
.checkboxtext
{
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}

input[type="checkbox"] {
    zoom: 3.5;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;

}


.pager {
    border-bottom: 1px solid #ccc;
    height: 2em;
    clear: both;
}
.pager .prev {
    float: left;
}
.pager .next {
    float: right;
}




