﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html, body{
  background-color: white !important;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
  /*  overflow: hidden;*/
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Katalog {
  float: left;
  overflow: hidden;
}

.Katalog .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: green;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #117a8b;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{
  display: none;
}
.dropdown-content a ul:hover > ul{
  background-color: #ddd;
  margin-left: 150px;
  position: absolute;
}

#myDropdown a ul {
  display: none;
}


#myDropdown a:hover > ul {
  display: block;
}
#myDropdown a ul {
  margin-left: 150px;
  top: 0px;
  position: absolute;

}

.image{
  height: 300px;
  width: 300px;
}


.engineerDropdown-content{
  text-align: right;
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.engineerDropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.show {
  display: block;
}
/*#myDropdown.a{
  background-color: black;
  color: black;
}*/

/*.container{
  font-family: Arial, Helvetica, sans-serif;
}*/
#dataingeniør{
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  background: #117a8b;
  height: 100px;
  width: 200px;
  border-radius: 100%;
}
#fornybar{
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  background: #117a8b;
  height: 100px;
  width: 200px;
  border-radius: 100%;
}
#elektronikk{
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  background: #117a8b;
  height: 100px;
  width: 200px;
  border-radius: 100%;
}
#cybersikkerhet{
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  background: #117a8b;
  height: 100px;
  width: 200px;
  border-radius: 100%;
}
#industriell{
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 1px;
  background: #117a8b;
  height: 100px;
  width: 200px;

  border-radius: 100%;
}
#ai{
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  background: #117a8b;
  height: 100px;
  width: 200px;
  border-radius: 100%;
}
#mekatronikk {
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  background: #117a8b;
  height: 100px;
  width: 200px;
  border-radius: 100%;
}
#multimedieteknologi{
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  background: #117a8b;
  height: 100px;
  width: 200px;
  border-radius: 100%;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
/*  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; !* Vertically center the text there *!*/
  /*position: relative;
  height: 100%;
  margin-top: -100px;
  clear:both ;*/
  background:#303036 ;
  color: #d3d3d3;
  height: 400px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: 2%;


;
  
}
.footer .footer-content{
  height: 430px;;
  display: flex;
 


}

.footer .footer-content h1,.footer .footer-content h2{
  color: white;
}

.footer .footer-content .about .contact span{
  display: block;
  font-size: 1.1em;
  margin-bottom: 2px;
}

.footer .footer-content .about .socials a{
  
  border:  1px solid gray;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right:5px ;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
}

.footer .footer-content .about .socials:hover{
  border: 1px solid white;
  color: white;
  transition: all .3s;
  
}

.footer .footer-content .about h1 span{
  color:#9fcdff ;
}
.footer .footer-content .footer-section{
  flex: 1;
  padding:25px;
  border: 1px solid white;
  
  
}
.footer .footer-content .links ul a{
 display: block; 
  margin-bottom:10px ;
  font-size:1.2em ;
}

.footer .footer-content .links ul a:hover{
  color: white;
  margin-left: 15px;
  transition: all .3s;
  
}
.footer .footer-bottom{
  background: #343a40;
  color: #686868;
  height: 50px;
  text-align: center;
}

.left{
  position: absolute !important;
  float: left;
}

.form-style{
  border-bottom: 1px solid #eee !important;
  background: #eeeeee47 !important;
  border-top-right-radius: 2px !important;
  border-top-left-radius: 2px !important;
  color: #FFF !important;
  padding-left: 16px !important;
}

/*
.main{
  width: max-content;
  overflow: auto;
  padding-bottom: 100px;
  min-height: 100%;
  margin-left: 10px;
  background: black;
}
*/


.bookOverView {
  align-items: stretch;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 9em;
  justify-content: stretch;
  overflow: hidden;
}

.bookOverView_cover{
  flex-shrink: 0;
  height: 9em;
  overflow: hidden;
  position: relative;
  width: 6.5em
}
.popular{
  box-sizing: border-box;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  padding: 1em;
}

.bookpreview__withText {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 0.9em;
  justify-content: flex-start;
  margin: 0.5em;
}



.bookpreview__withText .h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


.bookpreview__metadata__authors {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pricepreview {
  background-color: #1565c0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.wide {
  max-width: 70em;
}

article {
  display: block;
}

.main {
  flex: 1;
  margin-bottom: 3em;
  min-height: 10em
}

main {
  display: block;
}







