﻿/*.container{
    background-color: #117a8b;
    font-family: Arial, Helvetica, sans-serif;
}*/
#dataingeniør{
    text-align: center;
    color: white;
    background: black;
}

.containers {
        max-width: inherit;!important;
    
}